-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: web_bds
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_permission`
--

DROP TABLE IF EXISTS `accounts_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_permission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ten_quyen` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mo_ta` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ten_quyen` (`ten_quyen`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_permission`
--

LOCK TABLES `accounts_permission` WRITE;
/*!40000 ALTER TABLE `accounts_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_role`
--

DROP TABLE IF EXISTS `accounts_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_role` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mo_ta` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_role`
--

LOCK TABLES `accounts_role` WRITE;
/*!40000 ALTER TABLE `accounts_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_rolepermission`
--

DROP TABLE IF EXISTS `accounts_rolepermission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_rolepermission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `permission_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_rolepermission_role_id_permission_id_f150b115_uniq` (`role_id`,`permission_id`),
  KEY `accounts_rolepermiss_permission_id_f7e3fe09_fk_accounts_` (`permission_id`),
  CONSTRAINT `accounts_rolepermiss_permission_id_f7e3fe09_fk_accounts_` FOREIGN KEY (`permission_id`) REFERENCES `accounts_permission` (`id`),
  CONSTRAINT `accounts_rolepermission_role_id_db688956_fk_accounts_role_id` FOREIGN KEY (`role_id`) REFERENCES `accounts_role` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_rolepermission`
--

LOCK TABLES `accounts_rolepermission` WRITE;
/*!40000 ALTER TABLE `accounts_rolepermission` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_rolepermission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user`
--

DROP TABLE IF EXISTS `accounts_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user` (
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cccd_number` varchar(12) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_dien_thoai` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anh_dai_dien` longtext COLLATE utf8mb4_unicode_ci,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `da_xac_minh` tinyint(1) NOT NULL,
  `ngay_tao` datetime(6) NOT NULL,
  `ngay_cap_nhat` datetime(6) NOT NULL,
  `bio` longtext COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user`
--

LOCK TABLES `accounts_user` WRITE;
/*!40000 ALTER TABLE `accounts_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_groups`
--

DROP TABLE IF EXISTS `accounts_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_groups_user_id_group_id_59c0b32f_uniq` (`user_id`,`group_id`),
  KEY `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `accounts_user_groups_user_id_52b62117_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_groups`
--

LOCK TABLES `accounts_user_groups` WRITE;
/*!40000 ALTER TABLE `accounts_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_user_permissions`
--

DROP TABLE IF EXISTS `accounts_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq` (`user_id`,`permission_id`),
  KEY `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `accounts_user_user_p_user_id_e4f0a161_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_user_permissions`
--

LOCK TABLES `accounts_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_useractionhistory`
--

DROP TABLE IF EXISTS `accounts_useractionhistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_useractionhistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `bai_dang_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_useractionh_bai_dang_id_fdaf66a0_fk_listings_` (`bai_dang_id`),
  KEY `accounts_useractionhistory_user_id_1c07ee39_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `accounts_useractionh_bai_dang_id_fdaf66a0_fk_listings_` FOREIGN KEY (`bai_dang_id`) REFERENCES `listings_post` (`id`),
  CONSTRAINT `accounts_useractionhistory_user_id_1c07ee39_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_useractionhistory`
--

LOCK TABLES `accounts_useractionhistory` WRITE;
/*!40000 ALTER TABLE `accounts_useractionhistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_useractionhistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_userrole`
--

DROP TABLE IF EXISTS `accounts_userrole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_userrole` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_at` datetime(6) NOT NULL,
  `expires_at` datetime(6) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `granted_by_id` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role_id` bigint NOT NULL,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_userrole_user_id_role_id_9790efc1_uniq` (`user_id`,`role_id`),
  KEY `accounts_userrole_granted_by_id_db1e6501_fk_accounts_user_id` (`granted_by_id`),
  KEY `accounts_userrole_role_id_9448d870_fk_accounts_role_id` (`role_id`),
  CONSTRAINT `accounts_userrole_granted_by_id_db1e6501_fk_accounts_user_id` FOREIGN KEY (`granted_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `accounts_userrole_role_id_9448d870_fk_accounts_role_id` FOREIGN KEY (`role_id`) REFERENCES `accounts_role` (`id`),
  CONSTRAINT `accounts_userrole_user_id_eba3c754_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_userrole`
--

LOCK TABLES `accounts_userrole` WRITE;
/*!40000 ALTER TABLE `accounts_userrole` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_userrole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `engagement_postcomment`
--

DROP TABLE IF EXISTS `engagement_postcomment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `engagement_postcomment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `post_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_tao` datetime(6) NOT NULL,
  `ngay_sua` datetime(6) NOT NULL,
  `parent_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `engagement_postcomme_parent_id_b6c43f31_fk_engagemen` (`parent_id`),
  KEY `engagement__post_id_bebe9a_idx` (`post_id`),
  KEY `engagement__user_id_7661eb_idx` (`user_id`),
  KEY `engagement__trang_t_ab4b1d_idx` (`trang_thai`),
  KEY `engagement_postcomment_user_id_94d33587` (`user_id`),
  KEY `engagement_postcomment_post_id_d9d724fb` (`post_id`),
  CONSTRAINT `engagement_postcomme_parent_id_b6c43f31_fk_engagemen` FOREIGN KEY (`parent_id`) REFERENCES `engagement_postcomment` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `engagement_postcomment`
--

LOCK TABLES `engagement_postcomment` WRITE;
/*!40000 ALTER TABLE `engagement_postcomment` DISABLE KEYS */;
/*!40000 ALTER TABLE `engagement_postcomment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `engagement_postrating`
--

DROP TABLE IF EXISTS `engagement_postrating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `engagement_postrating` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `post_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `binh_luan` longtext COLLATE utf8mb4_unicode_ci,
  `ngay_tao` datetime(6) NOT NULL,
  `diem` smallint NOT NULL,
  `ngay_sua` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `engagement_postrating_user_id_post_id_9a3e71a3_uniq` (`user_id`,`post_id`),
  KEY `engagement__user_id_0aba1f_idx` (`user_id`),
  KEY `engagement__post_id_cb7e4e_idx` (`post_id`),
  KEY `engagement_postrating_post_id_4fc6423f` (`post_id`),
  KEY `engagement_postrating_user_id_49f75c2d` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `engagement_postrating`
--

LOCK TABLES `engagement_postrating` WRITE;
/*!40000 ALTER TABLE `engagement_postrating` DISABLE KEYS */;
/*!40000 ALTER TABLE `engagement_postrating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `engagement_postview`
--

DROP TABLE IF EXISTS `engagement_postview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `engagement_postview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `post_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` char(39) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_xem` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `engagement__post_id_6fc0b5_idx` (`post_id`),
  KEY `engagement__user_id_060e9d_idx` (`user_id`),
  KEY `eng_post_view_user_id_d029fead` (`user_id`),
  KEY `eng_post_view_post_id_a190309d` (`post_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `engagement_postview`
--

LOCK TABLES `engagement_postview` WRITE;
/*!40000 ALTER TABLE `engagement_postview` DISABLE KEYS */;
/*!40000 ALTER TABLE `engagement_postview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `engagement_userfavorite`
--

DROP TABLE IF EXISTS `engagement_userfavorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `engagement_userfavorite` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `post_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_tao` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `engagement_userfavorite_user_id_post_id_55b1cf73_uniq` (`user_id`,`post_id`),
  KEY `engagement__user_id_a4b193_idx` (`user_id`),
  KEY `engagement__post_id_369ee4_idx` (`post_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `engagement_userfavorite`
--

LOCK TABLES `engagement_userfavorite` WRITE;
/*!40000 ALTER TABLE `engagement_userfavorite` DISABLE KEYS */;
/*!40000 ALTER TABLE `engagement_userfavorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listings_approvalstatus`
--

DROP TABLE IF EXISTS `listings_approvalstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listings_approvalstatus` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listings_approvalstatus`
--

LOCK TABLES `listings_approvalstatus` WRITE;
/*!40000 ALTER TABLE `listings_approvalstatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `listings_approvalstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listings_category`
--

DROP TABLE IF EXISTS `listings_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listings_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listings_category`
--

LOCK TABLES `listings_category` WRITE;
/*!40000 ALTER TABLE `listings_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `listings_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listings_post`
--

DROP TABLE IF EXISTS `listings_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listings_post` (
  `id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` json NOT NULL,
  `location` json NOT NULL,
  `details` json NOT NULL,
  `other_info` json DEFAULT NULL,
  `area` double NOT NULL,
  `price` decimal(15,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `approval_status_id` bigint DEFAULT NULL,
  `category_id` bigint NOT NULL,
  `post_status_id` bigint DEFAULT NULL,
  `post_type_id` bigint NOT NULL,
  `owner_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `listings_po_categor_9c5d21_idx` (`category_id`),
  KEY `listings_po_post_ty_bc880a_idx` (`post_type_id`),
  KEY `listings_po_approva_b7b3c5_idx` (`approval_status_id`),
  KEY `listings_po_post_st_3399d3_idx` (`post_status_id`),
  KEY `listings_po_created_07b667_idx` (`created_at` DESC),
  CONSTRAINT `listings_post_approval_status_id_b04b2728_fk_listings_` FOREIGN KEY (`approval_status_id`) REFERENCES `listings_approvalstatus` (`id`),
  CONSTRAINT `listings_post_category_id_ea2bda55_fk_listings_category_id` FOREIGN KEY (`category_id`) REFERENCES `listings_category` (`id`),
  CONSTRAINT `listings_post_post_status_id_4483f531_fk_listings_poststatus_id` FOREIGN KEY (`post_status_id`) REFERENCES `listings_poststatus` (`id`),
  CONSTRAINT `listings_post_post_type_id_15ff4d98_fk_listings_posttype_id` FOREIGN KEY (`post_type_id`) REFERENCES `listings_posttype` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listings_post`
--

LOCK TABLES `listings_post` WRITE;
/*!40000 ALTER TABLE `listings_post` DISABLE KEYS */;
/*!40000 ALTER TABLE `listings_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listings_posthistory`
--

DROP TABLE IF EXISTS `listings_posthistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listings_posthistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `old_content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `new_content` longtext COLLATE utf8mb4_unicode_ci,
  `change_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `post_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `actor_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `listings_posthistory_post_id_cb85a672_fk_listings_post_id` (`post_id`),
  CONSTRAINT `listings_posthistory_post_id_cb85a672_fk_listings_post_id` FOREIGN KEY (`post_id`) REFERENCES `listings_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listings_posthistory`
--

LOCK TABLES `listings_posthistory` WRITE;
/*!40000 ALTER TABLE `listings_posthistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `listings_posthistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listings_poststatus`
--

DROP TABLE IF EXISTS `listings_poststatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listings_poststatus` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listings_poststatus`
--

LOCK TABLES `listings_poststatus` WRITE;
/*!40000 ALTER TABLE `listings_poststatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `listings_poststatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listings_posttype`
--

DROP TABLE IF EXISTS `listings_posttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listings_posttype` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listings_posttype`
--

LOCK TABLES `listings_posttype` WRITE;
/*!40000 ALTER TABLE `listings_posttype` DISABLE KEYS */;
/*!40000 ALTER TABLE `listings_posttype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messaging_chatmessage`
--

DROP TABLE IF EXISTS `messaging_chatmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messaging_chatmessage` (
  `id` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `text` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `status` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `room_id` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sender_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `messaging_chatmessage_room_id_59e039e5_fk_messaging_chatroom_id` (`room_id`),
  KEY `messaging_chatmessage_sender_id_9dffc4f6_fk_accounts_user_id` (`sender_id`),
  CONSTRAINT `messaging_chatmessage_room_id_59e039e5_fk_messaging_chatroom_id` FOREIGN KEY (`room_id`) REFERENCES `messaging_chatroom` (`id`),
  CONSTRAINT `messaging_chatmessage_sender_id_9dffc4f6_fk_accounts_user_id` FOREIGN KEY (`sender_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messaging_chatmessage`
--

LOCK TABLES `messaging_chatmessage` WRITE;
/*!40000 ALTER TABLE `messaging_chatmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `messaging_chatmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messaging_chatroom`
--

DROP TABLE IF EXISTS `messaging_chatroom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messaging_chatroom` (
  `id` char(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `listing_id` char(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `buyer_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `seller_id` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `messaging_chatroom_buyer_id_a8f18b40_fk_accounts_user_id` (`buyer_id`),
  KEY `messaging_chatroom_seller_id_f9e07f2a_fk_accounts_user_id` (`seller_id`),
  CONSTRAINT `messaging_chatroom_buyer_id_a8f18b40_fk_accounts_user_id` FOREIGN KEY (`buyer_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `messaging_chatroom_seller_id_f9e07f2a_fk_accounts_user_id` FOREIGN KEY (`seller_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messaging_chatroom`
--

LOCK TABLES `messaging_chatroom` WRITE;
/*!40000 ALTER TABLE `messaging_chatroom` DISABLE KEYS */;
/*!40000 ALTER TABLE `messaging_chatroom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_blacklistedtoken`
--

DROP TABLE IF EXISTS `token_blacklist_blacklistedtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_blacklistedtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blacklisted_at` datetime(6) NOT NULL,
  `token_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_id` (`token_id`),
  CONSTRAINT `token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk` FOREIGN KEY (`token_id`) REFERENCES `token_blacklist_outstandingtoken` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_blacklistedtoken`
--

LOCK TABLES `token_blacklist_blacklistedtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_outstandingtoken`
--

DROP TABLE IF EXISTS `token_blacklist_outstandingtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_outstandingtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) NOT NULL,
  `user_id` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jti` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq` (`jti`),
  KEY `token_blacklist_outs_user_id_83bc629a_fk_accounts_` (`user_id`),
  CONSTRAINT `token_blacklist_outs_user_id_83bc629a_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_outstandingtoken`
--

LOCK TABLES `token_blacklist_outstandingtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'web_bds'
--

--
-- Dumping routines for database 'web_bds'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-02  7:30:43
